@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.skeleton {
  background: $neutral-800;
  border: 1px solid $neutral-600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.loading-icon {
  width: 30px;
  height: 30px;
  animation: rotate 1.5s linear infinite;
}

.loading-text {
  font-size: 20px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}