@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.daily-forecast {
  grid-area: daily;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(89px, 1fr));
    gap: 16px;
  }
}
