@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.btn {
  padding: 8px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background-color: $neutral-800;
  color: $neutral-0;
  border: none;
  border-radius: 6px;
  text-align: center;
  transition: 0.2s all;
  cursor: pointer;
  @include text-preset-8;

  &:hover {
    background-color: $neutral-700;
  }

  &-gear-icon {
    width: 14px;
    height: 14px;
  }

  &-arrow-icon {
    width: 9px;
    height: 14px;
  }

  &-search {
    padding: 16px 24px;
    background-color: $blue-500;
    border-radius: 12px;
    @include text-preset-5-medium;

    &:hover {
      background-color: $blue-700;
    }

    &:focus {
      background-color: $blue-500;
    }
  }

  &-hourly {
    padding: 8px 16px;
    gap: 12px;
    @include text-preset-7;
    background-color: $neutral-600;

    .btn-arrow-icon {
      width: 12px;
      height: 18px;
    }
  }
}

@media (min-width: 768px) {
  .btn {
    padding: 12px 16px;
    gap: 10px;
    @include text-preset-7;

    &-gear-icon {
      width: 16px;
      height: 16px;
    }

    &-arrow-icon {
      width: 12px;
      height: 18px;
    }

    &-search {
      padding: 16px 24px;
    }
  }
}
