@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.input {
  width: 100%;
  padding: 16px 24px;
  border-radius: 12px;
  background-color: $neutral-800;
  border: none;
  color: $neutral-200;
  @include text-preset-5-medium;

  &:hover {
    background-color: $neutral-700;
  }

  &-search {
    padding-left: 60px;
    background-image: url('/src/assets/images/icon-search.svg');
    background-repeat: no-repeat;
    background-position: 24px center;
    background-size: 20px 20px;
  }

  &-wrapper {
    position: relative;

    .input-dropdown {
      width: 100%;
      padding-top: 10px;
      position: absolute;
      left: 0;
      top: 50px;
    }
  }
}

@media (min-width: 768px) {
  .input {
    &-wrapper {
      flex: 1;
    }
  }
}

@media (min-width: 1024px) {
  .input {
    &-wrapper {
      flex: 0;
      flex-basis: 526px;
    }
  }
}
