@use './sass/variables.scss' as *;
@use './sass/mixins.scss' as *;
@use './sass/modern-normalize.min.scss';
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

body {
  font-family: 'DM Sans', sans-serif;
	background-color: $neutral-900;
	color: $neutral-0
}

.container {
  width: clamp(343px, 90%, 1216px);
  margin: 0 auto;
}